{% extends "dashboard/base.html" %}
{% block content %}
    <h1>Visualisation des données</h1>
    <p>Trop bien</p>
    <canvas id="myChart" width="500" height="400"></canvas>
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
    <script type="text/javascript">
        $.get('{% url "retrieve_data" commune %}', function(data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx, {
                type: 'line', data: data
            });
        });
    </script>
{% endblock content %}
