{% extends "dashboard/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <h1>Covidou: achetez des produits de première nécessité</h1>
      <p>Bonjour! Nous sommes une équipe de six étudiants en école d’ingénieurs et nous sommes fiers de vous présenter Covidou !</p>
      <p>En cette période de crise sanitaire il est impératif de restreindre la propagation du virus et donc de limiter les déplacements de tous. C’est pourquoi nous avons créer la plateforme Covidou, elle vous permet de vous approvisionner en produits de première nécessité en les sélectionnant sur notre site et ils sont livrés directement à votre porte. Pour avoir accès à ces fonctionnalités il vous suffit de vous inscrire !</p>
    </div>
  </article>
{% endblock content %}