{% extends "blog/base.html" %}
{% block content %}
  {% if user.is_authenticated %}
    {% for quizz in quizzs %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ quizz.author }}</a>
              <small class="text-muted">{{ quizz.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ quizz.title }}</a></h2>
            <p class="article-content">{{ quizz.content }}</p>
          </div>
        </article>
    {% endfor %}
  {% else %}
    <article class="media content-section">
      <div class="media-body">
        <h1>Covidou: achetez des produits de première nécessité</h1>
      </div>
    </article>
  {% endif %}
{% endblock content %}
